<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==2.0.0

Requirement already satisfied: sqlalchemy==2.0.0 in d:\downloads\anaconda\lib\site-packages (2.0.0)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\downloads\anaconda\lib\site-packages (from sqlalchemy==2.0.0) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\downloads\anaconda\lib\site-packages (from sqlalchemy==2.0.0) (2.0.1)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install jupysql

Requirement already satisfied: ipython-sql in d:\downloads\anaconda\lib\site-packages (0.5.0)
Requirement already satisfied: six in d:\downloads\anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in d:\downloads\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in d:\downloads\anaconda\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: prettytable in d:\downloads\anaconda\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in d:\downloads\anaconda\lib\site-packages (from ipython-sql) (2.0.0)
Requirement already satisfied: ipython in d:\downloads\anaconda\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\downloads\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\downloads\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: matplotlib-inline in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: backcall in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in d:\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in d:\downloads\anaconda\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\downloads\anaconda\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in d:\downloads\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in d:\downloads\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in d:\downloads\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: jupysql in d:\downloads\anaconda\lib\site-packages (0.10.14)
Requirement already satisfied: jupysql-plugin>=0.4.2 in d:\downloads\anaconda\lib\site-packages (from jupysql) (0.4.5)
Requirement already satisfied: prettytable in d:\downloads\anaconda\lib\site-packages (from jupysql) (3.12.0)
Requirement already satisfied: ploomber-core>=0.2.7 in d:\downloads\anaconda\lib\site-packages (from jupysql) (0.2.25)
Requirement already satisfied: sqlparse in d:\downloads\anaconda\lib\site-packages (from jupysql) (0.5.1)
Requirement already satisfied: sqlalchemy in d:\downloads\anaconda\lib\site-packages (from jupysql) (2.0.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in d:\downloads\anaconda\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: sqlglot>=11.3.7 in d:\downloads\anaconda\lib\site-packages (from jupysql) (25.28.0)
Requirement already satisfied: jinja2 in d:\downloads\anaconda\lib\site-packages (from jupysql) (3.1.2)
Requirement already satisfied: posthog in d:\downloads\anaconda\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.7.0)
Requirement already satisfied: pyyaml in d:\downloads\anaconda\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\downloads\anaconda\lib\site-packages (from jinja2->jupysql) (2.1.1)
Requirement already satisfied: wcwidth in d:\downloads\anaconda\lib\site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\downloads\anaconda\lib\site-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\downloads\anaconda\lib\site-packages (from sqlalchemy->jupysql) (2.0.1)
Requirement already satisfied: requests<3.0,>=2.7 in d:\downloads\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.28.1)
Requirement already satisfied: backoff>=1.10.0 in d:\downloads\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: monotonic>=1.5 in d:\downloads\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: python-dateutil>2.1 in d:\downloads\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\downloads\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in d:\downloads\anaconda\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\downloads\anaconda\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\downloads\anaconda\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\downloads\anaconda\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.14)

In [3]:
import sqlalchemy
sqlalchemy.__version__

'2.0.0'

In [4]:
!pip install sqlalchemy==2.0.0

Requirement already satisfied: sqlalchemy==2.0.0 in d:\downloads\anaconda\lib\site-packages (2.0.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\downloads\anaconda\lib\site-packages (from sqlalchemy==2.0.0) (2.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\downloads\anaconda\lib\site-packages (from sqlalchemy==2.0.0) (4.12.2)

In [5]:
%load_ext sql

In [6]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [7]:
!pip install -q pandas
#pd.set_option('display.max_rows', 999)

In [8]:
%sql sqlite:///my_data1.db

Connecting to 'sqlite:///my_data1.db'

In [9]:
import pandas as pd
pd.options.display.max_rows = 1000
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [10]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [24]:
%config SqlMagic.displaylimit = 1000

**Note:This below code is added to remove blank rows from table**

In [11]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

Running query in 'sqlite:///my_data1.db'

++
||
++
++

In [12]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Running query in 'sqlite:///my_data1.db'

++
||
++
++

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [13]:
%%sql 
select 
distinct Launch_Site from SPACEXTBL;

Running query in 'sqlite:///my_data1.db'

+--------------+
| Launch_Site  |
+--------------+
| CCAFS LC-40  |
| VAFB SLC-4E  |
|  KSC LC-39A  |
| CCAFS SLC-40 |
+--------------+


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [14]:
%sql select * from SPACEXTBL where Launch_Site like 'CCA%' limit 5;

Running query in 'sqlite:///my_data1.db'

+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                            Payload                            | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome   |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |              Dragon Spacecraft Qualification Unit             |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute) |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute) |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40 |                     Dragon demo flight C2                     |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt     |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40 |                          SpaceX CRS-1                         |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                          SpaceX CRS-2                         |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [15]:
%sql select sum(PAYLOAD_MASS__KG_) from SPACEXTBL where Customer == 'NASA (CRS)'

Running query in 'sqlite:///my_data1.db'

+------------------------+
| sum(PAYLOAD_MASS__KG_) |
+------------------------+
|         45596          |
+------------------------+

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [16]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXTBL where Booster_Version == 'F9 v1.1'

Running query in 'sqlite:///my_data1.db'

+------------------------+
| avg(PAYLOAD_MASS__KG_) |
+------------------------+
|         2928.4         |
+------------------------+

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [17]:
%sql select min(date) from SPACEXTBL where Mission_Outcome LIKE 'Success%'

Running query in 'sqlite:///my_data1.db'

+------------+
| min(date)  |
+------------+
| 2010-06-04 |
+------------+

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [18]:
%%sql 
select Booster_version from SPACEXTBL where PAYLOAD_MASS__KG_ > 4000 
and Landing_Outcome='Success (drone ship)' and PAYLOAD_MASS__KG_ < 6000

Running query in 'sqlite:///my_data1.db'

+-----------------+
| Booster_Version |
+-----------------+
|   F9 FT B1022   |
|   F9 FT B1026   |
|  F9 FT  B1021.2 |
|  F9 FT  B1031.2 |
+-----------------+

### Task 7




##### List the total number of successful and failure mission outcomes

In [40]:
%sql select distinct rtrim(Mission_Outcome),count(Mission_Outcome) from SPACEXTBL group by rtrim(Mission_Outcome)

Running query in 'sqlite:///my_data1.db'

+----------------------------------+------------------------+
|      rtrim(Mission_Outcome)      | count(Mission_Outcome) |
+----------------------------------+------------------------+
|       Failure (in flight)        |           1            |
|             Success              |           99           |
| Success (payload status unclear) |           1            |
+----------------------------------+------------------------+

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [25]:
%%sql select Booster_version as booster_versions 
from SPACEXTBL where PAYLOAD_MASS__KG_== (select max(PAYLOAD_MASS__KG_) 
                                          from SPACEXTBL limit 1)

Running query in 'sqlite:///my_data1.db'

+------------------+
| booster_versions |
+------------------+
|  F9 B5 B1048.4   |
|  F9 B5 B1049.4   |
|  F9 B5 B1051.3   |
|  F9 B5 B1056.4   |
|  F9 B5 B1048.5   |
|  F9 B5 B1051.4   |
|  F9 B5 B1049.5   |
|  F9 B5 B1060.2   |
|  F9 B5 B1058.3   |
|  F9 B5 B1051.6   |
|  F9 B5 B1060.3   |
|  F9 B5 B1049.7   |
+------------------+

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [22]:
%%sql select substr(Date, 6,2) as month, Landing_Outcome, Booster_Version,Launch_Site 
FROM SPACEXTBL where Landing_Outcome == "Failure (drone ship)" and substr(Date,0,5)=='2015'

Running query in 'sqlite:///my_data1.db'

+-------+----------------------+-----------------+-------------+
| month |   Landing_Outcome    | Booster_Version | Launch_Site |
+-------+----------------------+-----------------+-------------+
|   01  | Failure (drone ship) |  F9 v1.1 B1012  | CCAFS LC-40 |
|   04  | Failure (drone ship) |  F9 v1.1 B1015  | CCAFS LC-40 |
+-------+----------------------+-----------------+-------------+

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [34]:
%%sql SELECT Landing_Outcome,count(*) AS Count_outcome
from SPACEXTBL where DATE BETWEEN '2010-06-04' AND '2017-03-20' 
GROUP BY Landing_Outcome
ORDER BY Count_outcome DESC

Running query in 'sqlite:///my_data1.db'

+------------------------+---------------+
|    Landing_Outcome     | Count_outcome |
+------------------------+---------------+
|       No attempt       |       10      |
|  Success (drone ship)  |       5       |
|  Failure (drone ship)  |       5       |
|  Success (ground pad)  |       3       |
|   Controlled (ocean)   |       3       |
|  Uncontrolled (ocean)  |       2       |
|  Failure (parachute)   |       2       |
| Precluded (drone ship) |       1       |
+------------------------+---------------+

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>